<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xs12">
          <v-card-title>
            <v-dialog v-model="addForm.addDialog" persistent max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" medium dark v-on="on">
                  <i class="material-icons">add</i>
                  {{$t('message.addNew')}}
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Register Payment</span>
                </v-card-title>
                <v-card-text>
                  <v-form v-model="addForm.valid" ref="formSave" lazy-validation>
                    <v-container grid-list-md pt-0>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-autocomplete
                            v-model="addForm.bank_id"
                            :rules="bankRules"
                            :items="bankList"
                            label="Bank name"
                            placeholder="Select a bank"
                            append-icon="domain"
                            outline
                            required
                          ></v-autocomplete>
                        </v-flex>

                        <v-flex xs12>
                          <v-text-field
                            v-model="addForm.amount"
                            :rules="amountRules"
                            counter
                            type="text"
                            label="Amount"
                            placeholder="Max 2 decimals are allowed"
                            append-icon="account_balance_wallet"
                            outline
                            required
                          ></v-text-field>
                        </v-flex>

                        <v-flex xs12>
                          <v-text-field
                            label="Payment proof"
                            placeholder="Click here to upload the image"
                            @click="pickFile"
                            :rules="imageRules"
                            v-model="imageName"
                            append-icon="attach_file"
                            outline
                          ></v-text-field>
                          <input
                            type="file"
                            v-show="false"
                            ref="image"
                            accept="image/*"
                            @change="onFilePicked"
                          />
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" @click="addForm.addDialog = false" small>Cancel</v-btn>
                  <v-btn color="primary" :disabled="!addForm.valid" @click="submit" small>Add</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-spacer></v-spacer>

            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :pagination="pagination"
            :items="list"
            :search="search"
            must-sort
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.bank_id.name }}</td>
              <td>{{ props.item.user_id.name}}</td>
              <td>{{ props.item.amount }}</td>
              <td v-if="authUserRole == 'Admin' || authUserRole == 'Operator' ">
                <v-layout wrap>
                  <v-flex xs12>
                    <v-select
                      item-text="name"
                      item-value="id"
                      v-model="props.item.status_payments_id.id"
                      :rules="statusRules"
                      :items="statusList"
                      label="Status"
                      placeholder="Select a status"
                      append-icon="domain"
                      @change="onEditStatus(props.item)"
                      required
                    ></v-select>
                  </v-flex>
                </v-layout>
              </td>
              <td v-else>{{ props.item.status_payments_id.name}}</td>
              <td>{{ formatDate(props.item.created_at) }}</td>
              <td class="text-center">
                <v-btn fab dark small icon color="primary" @click="openModalView(props.item)">
                  <v-icon class="zmdi zmdi-eye"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>

          <v-dialog v-model="viewDialog" max-width="800px">
            <img class="image" :src="urlImageOriginal" />
          </v-dialog>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Delete confirmation"
            message="Are you sure you want to delete this account?"
            @onConfirm="deleteData"
          ></delete-confirmation-dialog>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import "viewerjs/dist/viewer.css";
import api from "Api";
import apiwithheader from "../../api/apiwithheader.js";
import { filterIt } from "Helpers/helpers";
import moment from "moment";
import Dropzone from "vue2-dropzone";

export default {
  components: {
    Dropzone
  },
  mixins: [apiwithheader],
  data() {
    return {
      authUser: null,
      authUserRole: "",
      bankList: [],
      statusList: [],
      banksobject: [],
      selectedStatus: null,
      imageName: "",
      files: null,
      viewDialog: false,
      urlImageThumb: null,
      urlImageOriginal: null,
      statusRules: [v => !!v || "Please, select a status"],
      amountRules: [
        v => !!v || "Please, specify the amount",
        v => {
          const pattern = /^([0-9]{0,12})([.,][0-9]{1,2})?$/;

          return pattern.test(v) || "Invalid amount.";
        }
      ],
      imageRules: [v => !!v || "Please, upload the payment proof"],
      bankRules: [v => !!v || "Please, specify the bank name"],
      addForm: {
        valid: true,
        amount: "",
        image: "",
        bank_id: null,
        is_available: "",
        addDialog: false
      },
      search: "",
      headers: [
        { text: "Bank", sortable: false, value: "bank_id.name" },
        { text: "Client", sortable: false, value: "user_id.name" },
        { text: "Amount", sortable: false, value: "amount" },
        {
          text: "Status",
          sortable: false,
          value: "status_payments_id.name",
          width: "20%"
        },
        { text: "Date", sortable: true, value: "created_at" },
        { text: "Actions", sortable: false, align: "center" }
      ],
      pagination: {
        descending: true,
        page: 1,
        rowsPerPage: 10,
        sortBy: "created_at",
        totalItems: 0
      },
      list: [],
      loader: false,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top"
    };
  },
  mounted() {
    this.getUser();
    this.getPaymentStatuses();
    this.getPayments();
    this.getBanks();
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD-MM-YYYY hh:mm A");
    },
    getBanks() {
      this.api()
        .get("bank")
        .then(response => {
          this.loader = false;
          this.banksobject = response.data;
          response.data.forEach(element => {
            this.bankList.push(element.name);
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    getPayments() {
      this.api()
        .get("payment")
        .then(response => {
          this.loader = false;
          this.list = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getPaymentStatuses() {
      this.api()
        .get("status_payments")
        .then(response => {
          this.loader = false;
          this.statusList = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    submit() {
      if (this.$refs.formSave.validate()) {
        this.loader = true;

        let result = filterIt(this.banksobject, this.addForm.bank_id, "name");
        this.addForm.bank_id = result.length > 0 ? result[0].id : null;

        let formData = new FormData();

        formData.append("amount", this.addForm.amount);
        formData.append("bank_id", this.addForm.bank_id);
        formData.append("image", this.imageFile);

        //console.log(formData);

        this.api(true)
          .post("payment", formData)
          .then(response => {
            this.loader = false;
            this.addForm.addDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getPayments();
            this.$refs.formSave.reset();
          })
          .catch(error => {
            this.snackbarMessage = error.response.data.message[0];
            this.snackbar = true;
            console.log(error);
          });
      }
    },
    onDelete(data) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selected = data;
    },
    deleteData() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let deletedData = this.list;
      let index = deletedData.indexOf(this.selected);

      this.api()
        .delete("account/" + this.selected.id)
        .then(response => {
          setTimeout(() => {
            this.loader = false;
            this.selected = null;
            this.list.splice(index, 1);
            this.snackbar = true;
            this.snackbarMessage = response.data.message;
          }, 500);
        })
        .catch(error => {
          this.snackbarMessage = error.response.data.message[0];
          this.snackbar = true;
          console.log(error);
        });
    },
    onEdit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true;
        this.api()
          .post("account/" + this.dataEdit.id, this.editForm)
          .then(response => {
            this.loader = false;
            this.editForm.editDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getAccount();
          })
          .catch(error => {
            this.snackbarMessage = error.response.data.message[0];
            this.snackbar = true;
            console.log(error);
          });
      }
    },
    openModalView(data) {
      //console.log(data);
      this.viewDialog = true;
      this.urlImageThumb = this.baseUrl + data.image_id.url_thumb;
      this.urlImageOriginal = this.baseUrl + data.image_id.url_original;
    },

    pickFile() {
      this.$refs.image.click();
    },
    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0]; // this is an image file that can be sent to server...
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    },
    onEditStatus(selectedItem) {
      this.api()
        .get(
          "change_status/" +
            selectedItem.id +
            "/" +
            selectedItem.status_payments_id.id
        )
        .then(response => {
          this.loader = false;
          this.snackbar = true;
          this.snackbarMessage = response.data.message;
        })
        .catch(error => {
          this.snackbarMessage = error.response.data.message[0];
          this.snackbar = true;
          console.log(error);
        });
    },
    getUser() {
      this.authUser = JSON.parse(localStorage.getItem("user"));
      this.authUserRole = this.authUser.roles.name;
    }
  }
};
</script>
<style scoped>
.image {
  display: block;
  width: 100%;
  height: auto;
}

.v-dialog__content .v-dialog:not(.v-dialog--fullscreen) {
  max-height: 100%;
  box-shadow: none;
}
</style>

