<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xs12">
          <v-card-title>
             <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>

          <v-data-table :headers="headers" :items="usersList" :search="search">
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.username }}</td>
              <td>{{ props.item.email }}</td>
              <td>{{ props.item.phone }}</td>
              <td>{{ props.item.country }}</td>
              <td>{{ props.item.volume }}</td>
              <td>{{ props.item.numberTrades }}</td>
              <td class="text-center">
                <v-btn icon fab small color="primary" @click="openModalEditUser(props.item)">
                  <v-icon class="zmdi zmdi-edit"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>

          <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>

            <v-dialog v-model="editUserForm.editDialog" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Edit localbitcoin user</span>
              </v-card-title>
              <v-card-text>
                <v-form v-model="editUserForm.valid" ref="formEditUser" lazy-validation>
                  <v-container grid-list-md pt-0>
                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="editUserForm.username"
                          type="text"
                          label="Username"
                          append-icon="person"
                          outline
                          disabled
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="editUserForm.numberTrades"
                          type="text"
                          label="Trades quantity"
                          append-icon="card_travel"
                          outline
                          disabled
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="editUserForm.email"
                          type="text"
                          label="Email"
                          append-icon="mail"
                          outline
                          counter
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="editUserForm.volume"
                          type="text"
                          label="Trade volume"
                          append-icon="account_balance_wallet"
                          outline
                          disabled
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="editUserForm.phone"
                          type="text"
                          label="Phone"
                          append-icon="phone"
                          outline
                          clearable
                          counter
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete
                          ref="country"
                          v-model="editUserForm.country"
                          :rules="[ v => !!v || 'Please, select the country']"
                          :items="countries"
                          label="Country"
                          append-icon="public"
                          outline
                          placeholder="Select..."
                          required
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="editUserForm.editDialog = false" small>Cancel</v-btn>
                <v-btn color="primary" @click="onEditUser()" small>Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import { filterIt } from "Helpers/helpers";
import apiwithheader from "../../api/apiwithheader.js";

export default {
  mixins: [apiwithheader],
  data() {
    return {
    editUserForm: {
        editDialog: false,
        username: "",
        email: "",
        phone: "",
        numberTrades: "",
        id: null,
        country: "",
        volume: "",
        _method: "put"
      },
      search: "",
      headers: [
        { text: "Username", sortable: true, value: "username" },
        { text: "Email", sortable: true, value: "email" },
        { text: "Phone", sortable: true, value: "phone" },
        { text: "Country", sortable: true, value: "country" },
        { text: "Volumen", sortable: true, value: "volume" },
        { text: "Trades", sortable: true, value: "numberTrades" },
        { text: "Actions", sortable: false, align: "center", value: "" },
      ],
      usersList: [],
      rolesList: [],
      rolesObject: {},
      loader: false,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      selected: null,
      selectedUserEdit: null,
      y: "top",
            countries: [
        "Afghanistan",
        "Albania",
        "Algeria",
        "Andorra",
        "Angola",
        "Anguilla",
        "Antigua &amp; Barbuda",
        "Argentina",
        "Armenia",
        "Aruba",
        "Australia",
        "Austria",
        "Azerbaijan",
        "Bahamas",
        "Bahrain",
        "Bangladesh",
        "Barbados",
        "Belarus",
        "Belgium",
        "Belize",
        "Benin",
        "Bermuda",
        "Bhutan",
        "Bolivia",
        "Bosnia &amp; Herzegovina",
        "Botswana",
        "Brazil",
        "British Virgin Islands",
        "Brunei",
        "Bulgaria",
        "Burkina Faso",
        "Burundi",
        "Cambodia",
        "Cameroon",
        "Cape Verde",
        "Cayman Islands",
        "Chad",
        "Chile",
        "China",
        "Colombia",
        "Congo",
        "Cook Islands",
        "Costa Rica",
        "Cote D Ivoire",
        "Croatia",
        "Cruise Ship",
        "Cuba",
        "Cyprus",
        "Czech Republic",
        "Denmark",
        "Djibouti",
        "Dominica",
        "Dominican Republic",
        "Ecuador",
        "Egypt",
        "El Salvador",
        "Equatorial Guinea",
        "Estonia",
        "Ethiopia",
        "Falkland Islands",
        "Faroe Islands",
        "Fiji",
        "Finland",
        "France",
        "French Polynesia",
        "French West Indies",
        "Gabon",
        "Gambia",
        "Georgia",
        "Germany",
        "Ghana",
        "Gibraltar",
        "Greece",
        "Greenland",
        "Grenada",
        "Guam",
        "Guatemala",
        "Guernsey",
        "Guinea",
        "Guinea Bissau",
        "Guyana",
        "Haiti",
        "Honduras",
        "Hong Kong",
        "Hungary",
        "Iceland",
        "India",
        "Indonesia",
        "Iran",
        "Iraq",
        "Ireland",
        "Isle of Man",
        "Israel",
        "Italy",
        "Jamaica",
        "Japan",
        "Jersey",
        "Jordan",
        "Kazakhstan",
        "Kenya",
        "Kuwait",
        "Kyrgyz Republic",
        "Laos",
        "Latvia",
        "Lebanon",
        "Lesotho",
        "Liberia",
        "Libya",
        "Liechtenstein",
        "Lithuania",
        "Luxembourg",
        "Macau",
        "Macedonia",
        "Madagascar",
        "Malawi",
        "Malaysia",
        "Maldives",
        "Mali",
        "Malta",
        "Mauritania",
        "Mauritius",
        "Mexico",
        "Moldova",
        "Monaco",
        "Mongolia",
        "Montenegro",
        "Montserrat",
        "Morocco",
        "Mozambique",
        "Namibia",
        "Nepal",
        "Netherlands",
        "Netherlands Antilles",
        "New Caledonia",
        "New Zealand",
        "Nicaragua",
        "Niger",
        "Nigeria",
        "Norway",
        "Oman",
        "Pakistan",
        "Palestine",
        "Panama",
        "Papua New Guinea",
        "Paraguay",
        "Peru",
        "Philippines",
        "Poland",
        "Portugal",
        "Puerto Rico",
        "Qatar",
        "Reunion",
        "Romania",
        "Russia",
        "Rwanda",
        "Saint Pierre &amp; Miquelon",
        "Samoa",
        "San Marino",
        "Satellite",
        "Saudi Arabia",
        "Senegal",
        "Serbia",
        "Seychelles",
        "Sierra Leone",
        "Singapore",
        "Slovakia",
        "Slovenia",
        "South Africa",
        "South Korea",
        "Spain",
        "Sri Lanka",
        "St Kitts &amp; Nevis",
        "St Lucia",
        "St Vincent",
        "St. Lucia",
        "Sudan",
        "Suriname",
        "Swaziland",
        "Sweden",
        "Switzerland",
        "Syria",
        "Taiwan",
        "Tajikistan",
        "Tanzania",
        "Thailand",
        "Timor L'Este",
        "Togo",
        "Tonga",
        "Trinidad &amp; Tobago",
        "Tunisia",
        "Turkey",
        "Turkmenistan",
        "Turks &amp; Caicos",
        "Uganda",
        "Ukraine",
        "United Arab Emirates",
        "United Kingdom",
        "United States",
        "Uruguay",
        "Uzbekistan",
        "Venezuela",
        "Vietnam",
        "Virgin Islands (US)",
        "Yemen",
        "Zambia",
        "Zimbabwe"
      ]
    };
  },
  created() {
    this.loader = true;
    this.getUsers();
    this.loader = false;
  },
  methods: {
    openModalEditUser(data) {
      this.editUserForm.editDialog = true;
      this.editUserForm.id = data.id;
      this.editUserForm.username = data.username;
      this.editUserForm.email = data.email;
      this.editUserForm.phone = data.phone;
      this.editUserForm.volume = data.volume;
      this.editUserForm.country = data.country;
      this.editUserForm.numberTrades = data.numberTrades;
    },
    getUsers() {
      this.api()
        .get("user_local")
        .then(response => {
          this.usersList = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    onEditUser() {
      if (this.$refs.formEditUser.validate()) {
        this.loader = true;
        this.api()
          .post("user_local/" + this.editUserForm.id, this.editUserForm)
          .then(response => {
            this.loader = false;
            this.editUserForm.editDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;
            this.getUsers();
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
  },

  computed: {
    passwordMatchError() {
      return this.addUserForm.password === this.addUserForm.confirmPassword
        ? ""
        : "Password must match";
    }
  }
};
</script>
