<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xs12">
          <v-card-title>
            <v-dialog v-model="addForm.addDialog" persistent max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" medium dark v-on="on">
                  <i class="material-icons">add</i>
                  {{$t('message.addNew')}}
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Add localbitcoin account</span>
                </v-card-title>
                <v-card-text>
                  <v-form v-model="addForm.valid" ref="formSave">
                    <v-container grid-list-md pt-0>
                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            v-model="addForm.username"
                            :rules="usernameRules"
                            type="text"
                            append-icon="perm_identity"
                            label="Localbitcoin username"
                            clearable
                            outline
                            maxlength="20"
                            counter
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            v-model="addForm.api_key"
                            :rules="publicKeyRules"
                            type="text"
                            append-icon="vpn_key"
                            label="Public api key"
                            clearable
                            outline
                            counter
                            maxlength="32"
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            v-model="addForm.api_secret"
                            :rules="privateKeyRules"
                            type="text"
                            append-icon="vpn_key"
                            label="Secret api key"
                            outline
                            clearable
                            counter
                            maxlength="64"
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>

                      <v-layout row>
                        <v-flex xs12 sm4 md4 class="col-height-auto">
                          <v-switch
                            :label="switchLabel(addForm)"
                            v-model="addForm.is_available"
                            color="success"
                            hide-details
                          ></v-switch>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" @click="addForm.addDialog = false" small>Cancel</v-btn>
                  <v-btn color="primary" :disabled="!addForm.valid" @click="submit" small>Add</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-spacer></v-spacer>

            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>

          <v-data-table :headers="headers" :items="list" :search="search">
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.username }}</td>
              <td>
                <v-chip
                  color="success"
                  text-color="white"
                  v-show="props.item.is_available == true"
                >Active</v-chip>
                <v-chip
                  color="error"
                  text-color="white"
                  v-show="props.item.is_available == false"
                >Inactive</v-chip>
              </td>

              <td class="text-center">
                <v-btn fab dark small icon color="primary" @click="openModalEdit(props.item)">
                  <v-icon class="zmdi zmdi-edit"></v-icon>
                </v-btn>
                <v-btn
                  fab
                  dark
                  small
                  icon
                  color="error"
                  @click="onDelete(props.item)"
                  class="trash-icon"
                >
                  <v-icon class="zmdi zmdi-delete"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>

          <v-dialog v-model="editForm.editDialog" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Edit localbitcoin account</span>
              </v-card-title>
              <v-card-text>
                <v-form v-model="editForm.valid" ref="formEdit" lazy-validation>
                  <v-container grid-list-md pt-0>
                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          v-model="editForm.username"
                          :rules="usernameRules"
                          type="text"
                          label="Localbitcoin username"
                          append-icon="perm_identity"
                          outline
                          clearable
                          counter
                          maxlength="20"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          v-model="editForm.api_key"
                          :rules="publicKeyRules"
                          type="text"
                          label="Public api key"
                          append-icon="vpn_key"
                          outline
                          clearable
                          counter
                          maxlength="32"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          v-model="editForm.api_secret"
                          :rules="privateKeyRules"
                          type="text"
                          label="Secret api key"
                          append-icon="vpn_key"
                          outline
                          clearable
                          counter
                          maxlength="64"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-flex xs12 sm4 md4>
                      <v-switch
                        :label="switchLabel(editForm)"
                        v-model="editForm.is_available"
                        color="success"
                        hide-details
                      ></v-switch>
                    </v-flex>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="editForm.editDialog = false" small>Cancel</v-btn>
                <v-btn color="primary" @click="onEdit()" small>Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Delete confirmation"
            message="Are you sure you want to delete this account?"
            @onConfirm="deleteData"
          ></delete-confirmation-dialog>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import apiwithheader from "../../api/apiwithheader.js";

export default {
  mixins: [apiwithheader],
  data() {
    return {
      usernameRules: [
        v => !!v || "Please, specify the username",
        v => {
          const pattern = /^(?=.{5,15}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/;
          return pattern.test(v) || "Invalid username.";
        }
      ],
      publicKeyRules: [
        v => !!v || "Please, enter the public key",
        v =>
          (v && v.length === 32) ||
          "Api key length must be equal to 32 characters"
      ],
      privateKeyRules: [
        v => !!v || "Please, enter the private key",
        v =>
          (v && v.length === 64) ||
          "Api key length must be equal to 64 characters"
      ],
      addForm: {
        username: "",
        api_key: "",
        api_secret: "",
        valid: false,
        is_available: false,
        addDialog: false
      },
      editForm: {
        api_key: "",
        api_secret: "",
        username: "",
        valid: false,
        is_available: false,
        editDialog: false,
        _method: "put"
      },

      search: "",
      headers: [
        { text: "Localbitcoin username", sortable: true, value: "username" },
        { text: "Status", sortable: true, value: "is_available" },
        { text: "Actions", sortable: false, align: "center" }
      ],
      list: [],
      loader: false,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top"
    };
  },
  mounted() {
    this.getAccount();
  },
  methods: {
    getAccount() {
      this.loader = true;
      this.api()
        .get("account")
        .then(response => {
          this.loader = false;
          this.list = response.data;
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    submit() {
      if (this.$refs.formSave.validate()) {
        this.addForm.is_available = this.addForm.is_available ? true : false;
        this.loader = true;

        this.api()
          .post("account", this.addForm)
          .then(response => {
            this.loader = false;
            this.addForm.addDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getAccount();
            this.$refs.formSave.reset();
          })
          .catch(error => {
            this.loader = false;
            console.log(error);
          });
      }
    },
    onDelete(data) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selected = data;
    },
    deleteData() {
      this.loader = true;
      this.$refs.deleteConfirmationDialog.close();
      let deletedData = this.list;
      let index = deletedData.indexOf(this.selected);

      this.api()
        .delete("account/" + this.selected.id)
        .then(response => {
          setTimeout(() => {
            this.loader = false;
            this.selected = null;
            this.list.splice(index, 1);
            this.snackbar = true;
            this.snackbarMessage = response.data.message;
          }, 500);
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    onEdit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true;
        this.api()
          .post("account/" + this.dataEdit.id, this.editForm)
          .then(response => {
            this.loader = false;
            this.editForm.editDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getAccount();
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    openModalEdit(data) {
      this.editForm.editDialog = true;
      this.dataEdit = data;

      this.editForm.api_key = data.api_key;
      this.editForm.api_secret = data.api_secret;
      this.editForm.username = data.username;
      this.editForm.is_available = data.is_available;
    },
    switchLabel(form) {
      return form.is_available == true ? "Active" : "Inactive";
    }
  },
  computed: {}
};
</script>
