<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-snackbar
      :timeout="timeout"
      :top="y === 'top'"
      v-model="snackbar"
    >{{ snackbarMessage }}</v-snackbar>
    <v-container
      fluid
      grid-list-xl
      pt-0
    >
      <v-layout
        row
        wrap
      >
        <app-card
          :fullBlock="true"
          colClasses="xs12"
        >
          <v-card-text>
            <v-form
              lazy-validation
              ref="formEdit"
              v-model="editForm.valid"
            >
              <v-container
                grid-list-md
                pt-0
              >
                <v-layout row>
                  <v-flex
                    md6
                    xs4
                  >
                    <v-autocomplete
                      :items="banksList"
                      :rules="editForm.select"
                      append-icon="domain"
                      label="Bank"
                      outline
                      placeholder="Select a bank"
                      required
                      v-model="editForm.bank_id"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex
                    md4
                    sm4
                    xs12
                  >
                    <v-switch
                      :label="switchLabel(addForm)"
                      color="success"
                      hide-details
                      v-model="addForm.is_seller"
                    ></v-switch>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              @click="editForm.editDialog = false"
              color="error"
              small
            >Cancel</v-btn>
            <v-btn
              @click="submit()"
              color="primary"
              small
            >Save</v-btn>
          </v-card-actions>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from 'Api'
import apiwithheader from '../../api/apiwithheader.js'
import { filterIt } from "Helpers/helpers";
export default {
  mixins: [apiwithheader],
  data() {
    return {
      banksList: [],
      banksObject: [],
      addForm: {
        bank: '',
        is_seller: false,
        valid: false,
        addDialog: false,
        userNameRules: [(v) => !!v || 'Please, enter the account username'],
        publicKeyRules: [(v) => !!v || 'Please, enter the public key', (v) => (v && v.length === 32) || 'Api key length must be equal to 32 characters'],
        privateKeyRules: [(v) => !!v || 'Please, enter the private key', (v) => (v && v.length === 64) || 'Api key length must be equal to 64 characters']
      },
      editForm: {
        valid: false,
        editDialog: false,
        userNameRules: [(v) => !!v || 'Please, enter the account username'],
        publicKeyRules: [(v) => !!v || 'Please, enter the public key', (v) => (v && v.length === 32) || 'Api key length must be equal to 32 characters'],
        privateKeyRules: [(v) => !!v || 'Please, enter the private key', (v) => (v && v.length === 64) || 'Api key length must be equal to 64 characters'],
        _method: 'put'
      },

      search: '',
      headers: [
        { text: 'Localbitcoin username', sortable: true, value: 'username' },
        { text: 'Status', sortable: true, value: 'is_available' },
        { text: '', sortable: false, value: '' }
      ],
      list: [],
      loader: false,
      snackbar: false,
      snackbarMessage: '',
      timeout: 2000,
      y: 'top'
    }
  },
  mounted() {
    this.getBank()
  },
  methods: {
    getBank() {
      this.api()
        .get('get_payments_by_status')
        .then((response) => {
          this.loader = false
          this.banksObject = response.data
          response.data.forEach((element) => {
            console.log(element);
            if(element.amount !=0)
             this.banksList.push(element.bank + " "+element.amount)
             this.banksObject.push({name: element.bank + " "+element.amount});
          })
          console.log(this.banksList);
        })
        .catch((error) => {
          this.loader = false
          console.log(error)
        })
    },
    getAccount() {
      this.loader = true
      this.api()
        .get('account')
        .then((response) => {
          this.loader = false
          this.list = response.data
        })
        .catch((error) => {
          this.loader = false
          console.log(error)
        })
    },
    calculatePercentage(newValue, oldValue){
        result = ((newValue - oldValue)/oldValue) *100;
        return result;
    },
    submit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true
        let result = filterIt(
          this.banksObject,
          this.editForm.bank_id,
          "name"
        );
        let bankId = result.length > 0 ? result[0] : null;
        let name =bankId.name.split(' ')[0];
        this.addForm.bank = name;
        console.log(this.addForm);
        this.api()
          .post('get_market', this.addForm)
          .then((response) => {
            this.loader = false
            this.$refs.formEdit.reset()
          })
          .catch((error) => {
            this.loader = false
            console.log(error)
          })
      }
    },
    onDelete(data) {
      this.$refs.deleteConfirmationDialog.openDialog()
      this.selected = data
    },
    deleteData() {
      this.loader = true
      this.$refs.deleteConfirmationDialog.close()
      let deletedData = this.list
      let index = deletedData.indexOf(this.selected)

      this.api()
        .delete('account/' + this.selected.id)
        .then((response) => {
          setTimeout(() => {
            this.loader = false
            this.selected = null
            this.list.splice(index, 1)
            this.snackbar = true
            this.snackbarMessage = response.data.message
          }, 500)
        })
        .catch((error) => {
          this.loader = false
          console.log(error)
        })
    },
    onEdit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true
        this.api()
          .post('account/' + this.dataEdit.id, this.editForm)
          .then((response) => {
            this.loader = false
            this.editForm.editDialog = false
            this.snackbar = true
            this.snackbarMessage = response.data.message

            this.getAccount()
          })
          .catch((error) => {
            console.log(error)
          })
      }
    },
    openModalEdit(data) {
      this.editForm.editDialog = true
      this.dataEdit = data

      this.editForm.api_key = data.api_key
      this.editForm.api_secret = data.api_secret
      this.editForm.username = data.username
      this.editForm.is_available = data.is_available
    },
    switchLabel(form) {
      return form.is_seller == true ? 'Is seller' : 'is Buyer'
    }
  },
  computed: {}
}
</script>
