<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xs12">
          <v-card-title>
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :pagination="pagination"
            :items="list"
            :search="search"
            must-sort
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.payment.bank_id.name }}</td>
              <td>{{ props.item.payment.user_id.name}}</td>
              <td>{{ props.item.payment.amount }}</td>
              <td>{{ props.item.payment.status_payments_id.name}}</td>
              <td>{{ formatDate(props.item.payment.created_at) }}</td>
              <td class="text-center">
                <v-btn v-if="props.item.payment.status_payments_id.id == 3 || props.item.payment.status_payments_id.id ==4" fab dark small icon color="primary" @click="generateClosing(props.item.payment)">
                  <v-icon class="zmdi zmdi-collection-text"></v-icon>
                </v-btn>
                <v-btn v-if="(props.item.payment.status_payments_id.id == 3 || props.item.payment.status_payments_id.id ==4) && props.item.closing != null" fab dark small icon color="primary" @click="generatePdf(props.item.payment)">
                  <v-icon class="zmdi zmdi-collection-pdf"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>

          <v-dialog v-model="closingBalanceDialog.show" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Operation resume</span>
              </v-card-title>
              <v-card-text>
                <v-form v-model="closingBalanceDialog.valid" ref="formEdit" lazy-validation>
                  <v-container grid-list-md pt-0>
                    <v-layout row wrap>

                      <v-flex xs12 sm6>
                        <v-menu
                          ref="menu"
                          v-model="closingBalanceDialog.menu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          :return-value.sync="closingBalanceDialog.operationDate"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px">

                          <template v-slot:activator="{ on }">
                            <v-text-field
                              v-model="closingBalanceDialog.operationDate"
                              label="Operation date"
                              append-icon="event"
                              outline
                              readonly
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker v-model="closingBalanceDialog.operationDate" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="closingBalanceDialog.menu = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.menu.save(closingBalanceDialog.operationDate)">OK</v-btn>
                          </v-date-picker>
                        </v-menu>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.operatedBs"
                          type="text"
                          label="Bolivares operated"
                          append-icon="account_balance"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.bankNoteDebt"
                          type="text"
                          label="Bank debit fee"
                          append-icon="notes"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.averageBtcRateinBs"
                          type="text"
                          label="Average Btc price in Bs"
                          append-icon="swap_vert"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.btcObtained"
                          type="text"
                          label="Btc obtained"
                          append-icon="attach_money"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.serviceFee"
                          type="text"
                          label="Service fee"
                          append-icon="remove_circle"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.netBtcObtained"
                          type="text"
                          label="Total Btc obtained"
                          append-icon="attach_money"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.btcPrinceInUsd"
                          type="text"
                          label="Btc price in Usd"
                          append-icon="swap_vert"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.usdEquivalent"
                          type="text"
                          label="Total in Usd"
                          append-icon="attach_money"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="closingBalanceDialog.rateUsdInBs"
                          type="text"
                          label="Rate Usd in Bs"
                          append-icon="swap_vert"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="closingBalanceDialog.show = false" small>Cancel</v-btn>
                <v-btn color="primary" @click="onEdit()" small>Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import "viewerjs/dist/viewer.css";
import api from "Api";
import apiwithheader from "../../api/apiwithheader.js";
import { filterIt } from "Helpers/helpers";
import moment from "moment";
import Dropzone from "vue2-dropzone";

export default {
  components: {
    Dropzone
  },
  mixins: [apiwithheader],
  data() {
    return {
      authUser: null,
      authUserRole: "",
      bankList: [],
      statusList: [],
      banksobject: [],
      closingBalanceDialog: {
        id:null,
        menu: false,
        show: false,
        valid: false,
        operationDate: new Date().toISOString().substr(0, 10),
        operatedBs: 0,
        bankNoteDebt: 0,
        averageBtcRateInBs: 0,
        btcObtained: 0,
        serviceFee: 0,
        netBtcObtained: 0,
        btcPriceInUsd: 0,
        usdEquivalent: 0,
        rateUsdInBs: 0,
        leftToOperate: 0
      },
      statusRules: [v => !!v || "Please, select a status"],
      search: "",
      headers: [
        { text: "Bank", sortable: false, value: "bank_id.name" },
        { text: "Client", sortable: false, value: "user_id.name" },
        { text: "Amount", sortable: false, value: "amount" },
        { text: "Status", sortable: false, value: "status_payments_id.name" },
        { text: "Date", sortable: true, value: "created_at" },
        { text: "Actions", sortable: false, align: "center" }
      ],
      pagination: {
        descending: true,
        page: 1,
        rowsPerPage: 10,
        sortBy: "created_at",
        totalItems: 0
      },
      list: [],
      loader: false,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top"
    };
  },
  mounted() {
    this.getUser();
    this.getPaymentStatuses();
    this.getPayments();
    this.getBanks();
  },
  methods: {
    generateClosing(payment){
      this.api()
          .post("make_closing",{'payment_id' : payment.id})
          .then(response => {
            this.loader = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;
            this.openModalEdit(response.data.Closing);
          })
          .catch(error => {
            console.log(error.response);
            console.log(error);
          });
    },
    formatDate(date) {
      return moment(date).format("DD-MM-YYYY hh:mm A");
    },
    getBanks() {
      this.api()
        .get("bank")
        .then(response => {
          this.loader = false;
          this.banksobject = response.data;
          response.data.forEach(element => {
            this.bankList.push(element.name);
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    generatePdf(payment){
      console.log(payment);
      console.log(this.baseUrlApi);
      window.open(this.baseUrl+"/generate-pdf/"+payment.id, "_blank");   
    },
    getPayments() {
      this.api()
        .get("get_payments")
        .then(response => {
          this.loader = false;
          this.list = response.data;
          console.log(this.list);
        })
        .catch(error => {
          console.log(error);
        });
    },
    getPaymentStatuses() {
      this.api()
        .get("status_payments")
        .then(response => {
          this.loader = false;
          this.statusList = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    submit() {
      /*if (this.$refs.formSave.validate()) {
        this.loader = true;

        let result = filterIt(this.banksobject, this.addForm.bank_id, "name");
        this.addForm.bank_id = result.length > 0 ? result[0].id : null;

        let formData = new FormData();

        formData.append("amount", this.addForm.amount);
        formData.append("bank_id", this.addForm.bank_id);
        formData.append("image", this.imageFile);

        //console.log(formData);

        this.api(true)
          .post("payment", formData)
          .then(response => {
            this.loader = false;
            this.addForm.addDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getPayments();
            this.$refs.formSave.reset();
          })
          .catch(error => {
            this.snackbarMessage = error.response.data.message[0];
            this.snackbar = true;
            console.log(error);
          });
      }*/
    },
    onEdit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true;
        this.api()
          .put("closing/" + this.closingBalanceDialog.id, 
              {
                'date_of_operation' :this.closingBalanceDialog.operationDate,
                'hedge_service_commission' : this.closingBalanceDialog.serviceFee,
                'method' : '_put'  
              }
           )
          .then(response => {
            this.loader = false;
            this.closingBalanceDialog.show = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getAccount();
          })
          .catch(error => {
            this.snackbarMessage = error.response.data.message[0];
            this.snackbar = true;
            console.log(error);
          });
      }
    },
    openModalEdit(data) {
      console.log(data);
      this.closingBalanceDialog.show = true;
      this.closingBalanceDialog.operationDate = data.date_of_operation != null ? this.formatDate(data.date_of_operation) : null;
      this.closingBalanceDialog.bankNoteDebt= data.bank_debit_notes;
      this.closingBalanceDialog.averageBtcRateinBs = data.average_purchase_rate;
      this.closingBalanceDialog.btcObtained = data.total_btc_obtained;
      this.closingBalanceDialog.serviceFee = data.hedge_service_commission;
      this.closingBalanceDialog.netBtcObtained = data.total_liquid_btc_obtained;
      this.closingBalanceDialog.btcPrinceInUsd = data.price_btc;
      this.closingBalanceDialog.usdEquivalent = data.value_dollar;
      this.closingBalanceDialog.rateUsdInBs = data.rate_bsbtc;
      this.closingBalanceDialog.operatedBs = data.total_bs_operated;
      this.closingBalanceDialog.id = data.id;
      this.dataEdit = data;
    },
    getUser() {
      this.authUser = JSON.parse(localStorage.getItem("user"));
      this.authUserRole = this.authUser.roles.name;
    },
     formatDate(date) { 
      return moment(date).format('YYYY-MM-DD');
    }
  }
};
</script>

