<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xl12 lg12 md12 sm12 xs12">
          <v-card-title>
            <v-dialog v-model="addForm.dialog" persistent max-width="400px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" medium dark v-on="on">
                  <i class="material-icons">add</i>
                  {{$t('message.addNew')}}
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Add type</span>
                </v-card-title>
                <v-card-text>
                  <v-form ref="formSave" v-model="addForm.valid" lazy-validation>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12>
                          <v-text-field
                            label="Type name"
                            v-model="addForm.name"
                            :rules="typeRules"
                            append-icon="label"
                            outline
                            counter
                            clearable
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" @click="addForm.dialog = false" small>Cancel</v-btn>
                  <v-btn
                    color="primary"
                    @click="onSave()"
                    :disabled="!addForm.valid"
                    :loading="loader"
                    small
                  >Add</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-title>

          <v-data-table :headers="headers" :items="typeOperations" item-key="id">
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td class="text-center">
                <v-btn
                  fab
                  dark
                  small
                  icon
                  color="primary"
                  @click="openModalEdit(props.item)"
                  v-show="props.item.id !== 1 && props.item.id !== 2"
                >
                  <v-icon class="zmdi zmdi-edit"></v-icon>
                </v-btn>
                <v-btn
                  fab
                  dark
                  small
                  icon
                  color="error"
                  @click="onDeleteItem(props.item)"
                  class="trash-icon"
                  v-show="props.item.id !== 1 && props.item.id !== 2"
                >
                  <v-icon class="zmdi zmdi-delete"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
          <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>

          <v-dialog v-model="editForm.dialog" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Edit type</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="formEdit" v-model="editForm.valid" lazy-validation>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12>
                        <v-text-field
                          label="Type name"
                          v-model="editForm.name"
                          :rules="typeRules"
                          append-icon="label"
                          outline
                          counter
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="editForm.dialog = false" small>Cancel</v-btn>
                <v-btn color="primary" @click="onEdit()" small>Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import { filterIt } from "Helpers/helpers";
import apiwithheader from "../../api/apiwithheader.js";

export default {
  mixins: [apiwithheader],
  data() {
    return {
      addForm: {
        dialog: false,
        valid: true,
        name: ""
      },
      editForm: {
        dialog: false,
        valid: true,
        name: "",
        itemSelected: null
      },
      deleteItemForm: {
        itemSelected: null
      },
      typeOperations: [],
      typeRules: [v => !!v || "Please, specify the name"],
      headers: [
        {
          text: "Name",
          sortable: true,
          value: "name"
        },
        { text: "Actions", sortable: false, align: "center" }
      ],
      loader: true,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top"
    };
  },
  mounted() {
    this.getTablesData();
  },
  methods: {
    onSave() {
      if (this.$refs.formSave.validate()) {
        this.loader = true;

        this.api()
          .post("type_operations/", {
            name: this.addForm.name
          })
          .then(response => {
            this.loader = false;
            this.addForm.dialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getTablesData();
            this.$refs.formSave.reset();
          })
          .catch(error => {
            this.loader = false;
            console.log(error);
          });
      }
    },
    onEdit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true;

        console.log(this.editForm.name);

        this.api()
          .post("type_operations/" + this.editForm.itemSelected.id, {
            name: this.editForm.name,
            _method: "put"
          })
          .then(response => {
            this.loader = false;
            this.editForm.dialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getTablesData();
          })
          .catch(error => {
            this.loader = false;
            console.log(error);
          });
      }
    },
    openModalEdit(itemSelected) {
      this.editForm.dialog = true;
      this.editForm.itemSelected = itemSelected;
      this.editForm.name = itemSelected.name;
    },
    onDeleteItem(itemSelected) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.deleteItemForm.itemSelected = itemSelected;
    },
    deleteItem() {
      this.loader = true;
      let index = this.typeOperations.indexOf(this.deleteItemForm.itemSelected);
      this.$refs.deleteConfirmationDialog.close();

      this.api()
        .delete("type_operations/" + this.deleteItemForm.itemSelected.id)
        .then(response => {
          setTimeout(() => {
            this.typeOperations.splice(index, 1);
            this.snackbarMessage = response.data.message;
            this.loader = false;
            this.snackbar = true;
            this.deleteItemForm.itemSelected = null;
          }, 500);
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    getTablesData() {
      this.api()
        .get("type_operations")
        .then(response => {
          this.loader = false;
          this.typeOperations = response.data;
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    }
  }
};
</script>
