<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xs12">
          <v-card-title>
            <v-spacer></v-spacer>

            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :pagination.sync="pagination"
            :items="list"
            :search="search"
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.contact_id }}</td>
              <td>
                <div v-if=" props.item.bank_id">{{ props.item.bank_id.name }}</div>
              </td>
              <td>{{ props.item.amount }}</td>
              <td>{{ props.item.amount_btc }}</td>
              <!-- <td class="text-center">
                <a href="#">{{ props.item.user_local_id.username }}</a>

                <v-btn
                  @click="openModalEditUser(props.item.user_local_id)"
                  icon
                  fab
                  small
                  color="primary"
                >
                  
                </v-btn>
              </td>-->
              <td>
                <div v-if=" props.item.status_id !=null ">{{ props.item.status_id.name }}</div>
              </td>
              <td>{{ FormatDate(props.item.created_at) }}</td>

              <td class="text-center">
                <v-btn fab dark small icon color="primary" @click="openModalEdit(props.item)">
                  <v-icon class="zmdi zmdi-edit"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>

          <v-dialog v-model="editForm.editDialog" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Edit trade</span>
              </v-card-title>
              <v-card-text>
                <v-form v-model="editForm.valid" ref="formEdit" lazy-validation>
                  <v-container grid-list-md pt-0>
                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-autocomplete
                          v-model="editForm.bank_id"
                          :rules="bankRules"
                          :items="banksList"
                          label="Bank"
                          placeholder="Select a bank"
                          append-icon="domain"
                          outline
                          required
                        ></v-autocomplete>
                      </v-flex>

                      <v-flex xs12 md6>
                        <v-autocomplete
                          v-model="editForm.client_id"
                          :rules="clientRules"
                          :items="clientList"
                          label="Client"
                          placeholder="Select an client"
                          append-icon="person"
                          outline
                          required
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-autocomplete
                          v-model="editForm.assistant_id"
                          :rules="assistantRules"
                          :items="assistantList"
                          label="Assistant"
                          placeholder="Select an assistant"
                          append-icon="person"
                          outline
                          required
                        ></v-autocomplete>
                      </v-flex>

                      <v-flex xs12 md6>
                        <v-autocomplete
                          v-model="editForm.operator_id"
                          :rules="operatorRules"
                          :items="operatorList"
                          label="Operator"
                          placeholder="Select an operator"
                          append-icon="person"
                          required
                          outline
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-autocomplete
                          v-model="editForm.type_operations"
                          :rules="operationRules"
                          :items="type_operationsList"
                          label="Operation type"
                          placeholder="Select a type"
                          append-icon="work"
                          outline
                          required
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editForm.concept"
                          :rules="conceptRules"
                          type="text"
                          label="Concept"
                          counter
                          maxlength="30"
                          append-icon="chat"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editForm.price_usd_btc"
                          :rules="btcPriceRules"
                          type="text"
                          label="Btc price"
                          append-icon="attach_money"
                          outline
                          required
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editForm.fee_bank"
                          type="text"
                          label="Bank fee"
                          append-icon="remove_circle"
                          outline
                          disabled
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editForm.amount"
                          type="text"
                          label="Bs amount"
                          append-icon="account_balance_wallet"
                          outline
                          disabled
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editForm.amount_btc"
                          type="text"
                          label="Btc amount"
                          append-icon="account_balance_wallet"
                          outline
                          disabled
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editForm.user_internal"
                          type="text"
                          label="Internal localbitcoin user"
                          outline
                          append-icon="person"
                          disabled
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editForm.user_external"
                          type="text"
                          label="External localbitcoin user"
                          outline
                          append-icon="person"
                          disabled
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editForm.bankReference"
                          type="text"
                          label="Bank reference"
                          append-icon="find_in_page"
                          outline
                          disabled
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-switch
                          label="Transaction match"
                          v-model="editForm.is_matching"
                          color="primary"
                          outline
                          hide-details
                        ></v-switch>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="editForm.editDialog = false" small>Cancel</v-btn>
                <v-btn color="primary" @click="onEdit()" small>Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import apiwithheader from "../../api/apiwithheader.js";
import moment from "moment";
import { filterIt } from "Helpers/helpers";
export default {
  mixins: [apiwithheader],
  data() {
    return {
      banksList: [],
      clientList: [],
      operatorList: [],
      assistantList: [],
      type_operationsList: [],
      type_operationsObject: [],
      banksObject: [],
      clientObject: [],
      operatorObject: [],
      assistantObject: [],
      editForm: {
        contact_id: null,
        price_usd_btc: "",
        concept: "",
        fee_bank: "",
        bankReference: null,
        is_matching: false,
        type_operations: null,
        client_id: null,
        bank_id: null,
        assistant_id: null,
        operator_id: null,
        status: "",
        valid: false,
        is_available: false,
        editDialog: false,
        _method: "put"
      },
      editUserForm: {
        editDialog: false,
        username: "",
        email: "",
        phone: "",
        numberTrades: "",
        id: null,
        country: "",
        volume: "",
        _method: "put"
      },
      bankRules: [v => !!v || "Please, select a bank"],
      clientRules: [v => !!v || "Please, select a client"],
      assistantRules: [v => !!v || "Please, select an assistant"],
      operatorRules: [v => !!v || "Please, select an operator"],
      operationRules: [v => !!v || "Please, select an operation"],
      countryRules: [v => !!v || "Please, select the country"],
      conceptRules: [
        v => !!v || "Please, specify the concept",
        v =>
          (v && v.length <= 30) ||
          "This field name must be less than 30 characters"
      ],
      nameRules: [
        v => !!v || "Please, specify the name",
        v =>
          (v && v.length <= 20) ||
          "This field name must be less than 20 characters",
        v => {
          const pattern = /^[a-zA-Z ]*$/;
          return pattern.test(v) || "Invalid name";
        }
      ],

      /*
      Admited phone numbers
      (123) 456 7899
      (123).456.7899
      (123)-456-7899
      123-456-7899
      123 456 7899
      1234567899 */

      phoneRules: [
        v => !!v || "Please, specify the phone",
        v => {
          const pattern = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
          return pattern.test(v) || "Invalid number";
        }
      ],
      btcPriceRules: [
        v => !!v || "Please, specify the btc price in USD",
        v => {
          const pattern = /^([0-9]{0,12})([.,][0-9]{1,2})?$/;

          return pattern.test(v) || "Invalid price.";
        }
      ],
      emailRules: [
        v => !!v || "Please, enter the email",
        v => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(v) || "Please, type a valid e-mail.";
        }
      ],
      search: "",
      headers: [
        { text: "Contact id", sortable: false, value: "contact_id" },
        { text: "Bank", sortable: false, value: "bank_id.name" },
        { text: "Bs amount", sortable: false, value: "amount" },
        { text: "Btc amount", sortable: false, value: "amount_btc" },
        { text: "Status", sortable: false, value: "status_id.name" },
        { text: "Date", sortable: true, value: "created_at" },
        { text: "Actions", sortable: false, align: "center", value: "" }
      ],
      list: [],
      pagination: {
        descending: true,
        page: 1,
        rowsPerPage: 5,
        sortBy: "created_at",
        totalItems: 0
      },
      loader: false,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      countries: [
        "Afghanistan",
        "Albania",
        "Algeria",
        "Andorra",
        "Angola",
        "Anguilla",
        "Antigua &amp; Barbuda",
        "Argentina",
        "Armenia",
        "Aruba",
        "Australia",
        "Austria",
        "Azerbaijan",
        "Bahamas",
        "Bahrain",
        "Bangladesh",
        "Barbados",
        "Belarus",
        "Belgium",
        "Belize",
        "Benin",
        "Bermuda",
        "Bhutan",
        "Bolivia",
        "Bosnia &amp; Herzegovina",
        "Botswana",
        "Brazil",
        "British Virgin Islands",
        "Brunei",
        "Bulgaria",
        "Burkina Faso",
        "Burundi",
        "Cambodia",
        "Cameroon",
        "Cape Verde",
        "Cayman Islands",
        "Chad",
        "Chile",
        "China",
        "Colombia",
        "Congo",
        "Cook Islands",
        "Costa Rica",
        "Cote D Ivoire",
        "Croatia",
        "Cruise Ship",
        "Cuba",
        "Cyprus",
        "Czech Republic",
        "Denmark",
        "Djibouti",
        "Dominica",
        "Dominican Republic",
        "Ecuador",
        "Egypt",
        "El Salvador",
        "Equatorial Guinea",
        "Estonia",
        "Ethiopia",
        "Falkland Islands",
        "Faroe Islands",
        "Fiji",
        "Finland",
        "France",
        "French Polynesia",
        "French West Indies",
        "Gabon",
        "Gambia",
        "Georgia",
        "Germany",
        "Ghana",
        "Gibraltar",
        "Greece",
        "Greenland",
        "Grenada",
        "Guam",
        "Guatemala",
        "Guernsey",
        "Guinea",
        "Guinea Bissau",
        "Guyana",
        "Haiti",
        "Honduras",
        "Hong Kong",
        "Hungary",
        "Iceland",
        "India",
        "Indonesia",
        "Iran",
        "Iraq",
        "Ireland",
        "Isle of Man",
        "Israel",
        "Italy",
        "Jamaica",
        "Japan",
        "Jersey",
        "Jordan",
        "Kazakhstan",
        "Kenya",
        "Kuwait",
        "Kyrgyz Republic",
        "Laos",
        "Latvia",
        "Lebanon",
        "Lesotho",
        "Liberia",
        "Libya",
        "Liechtenstein",
        "Lithuania",
        "Luxembourg",
        "Macau",
        "Macedonia",
        "Madagascar",
        "Malawi",
        "Malaysia",
        "Maldives",
        "Mali",
        "Malta",
        "Mauritania",
        "Mauritius",
        "Mexico",
        "Moldova",
        "Monaco",
        "Mongolia",
        "Montenegro",
        "Montserrat",
        "Morocco",
        "Mozambique",
        "Namibia",
        "Nepal",
        "Netherlands",
        "Netherlands Antilles",
        "New Caledonia",
        "New Zealand",
        "Nicaragua",
        "Niger",
        "Nigeria",
        "Norway",
        "Oman",
        "Pakistan",
        "Palestine",
        "Panama",
        "Papua New Guinea",
        "Paraguay",
        "Peru",
        "Philippines",
        "Poland",
        "Portugal",
        "Puerto Rico",
        "Qatar",
        "Reunion",
        "Romania",
        "Russia",
        "Rwanda",
        "Saint Pierre &amp; Miquelon",
        "Samoa",
        "San Marino",
        "Satellite",
        "Saudi Arabia",
        "Senegal",
        "Serbia",
        "Seychelles",
        "Sierra Leone",
        "Singapore",
        "Slovakia",
        "Slovenia",
        "South Africa",
        "South Korea",
        "Spain",
        "Sri Lanka",
        "St Kitts &amp; Nevis",
        "St Lucia",
        "St Vincent",
        "St. Lucia",
        "Sudan",
        "Suriname",
        "Swaziland",
        "Sweden",
        "Switzerland",
        "Syria",
        "Taiwan",
        "Tajikistan",
        "Tanzania",
        "Thailand",
        "Timor L'Este",
        "Togo",
        "Tonga",
        "Trinidad &amp; Tobago",
        "Tunisia",
        "Turkey",
        "Turkmenistan",
        "Turks &amp; Caicos",
        "Uganda",
        "Ukraine",
        "United Arab Emirates",
        "United Kingdom",
        "United States",
        "Uruguay",
        "Uzbekistan",
        "Venezuela",
        "Vietnam",
        "Virgin Islands (US)",
        "Yemen",
        "Zambia",
        "Zimbabwe"
      ]
    };
  },
  mounted() {
    this.getList();
    this.getTypeUsers();
  },
  methods: {
    FormatDate(date) {
      return moment(date).format("DD-MM-YYYY hh:mm A");
    },
    getList() {
      this.loader = true;
      this.api()
        .get("trade")
        .then(response => {
          this.loader = false;
          this.list = response.data;
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    getTypeUsers() {
      this.loader = true;
      this.api()
        .get("type_operations")
        .then(response => {
          this.loader = false;
          this.type_operationsObject = response.data;
          response.data.forEach(element => {
            this.type_operationsList.push(element.name);
          });
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });

      this.api()
        .get("bank")
        .then(response => {
          this.loader = false;
          this.banksObject = response.data;
          response.data.forEach(element => {
            this.banksList.push(element.name);
          });
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });

      this.api()
        .get("users/3")
        .then(response => {
          this.loader = false;
          this.operatorObject = response.data.User;
          response.data.User.forEach(element => {
            this.operatorList.push(element.name);
          });
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
      this.api()
        .get("users/4")
        .then(response => {
          this.loader = false;
          this.clientObject = response.data.User;
          response.data.User.forEach(element => {
            this.clientList.push(element.name);
          });
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
      this.api()
        .get("users/2")
        .then(response => {
          this.loader = false;
          this.assistantObject = response.data.User;
          response.data.User.forEach(element => {
            this.assistantList.push(element.name);
          });
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    onEdit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true;

        let result = filterIt(this.banksObject, this.editForm.bank_id, "name");
        this.editForm.bank_id = result.length > 0 ? result[0].id : null;

        result = filterIt(
          this.operatorObject,
          this.editForm.operator_id,
          "name"
        );
        this.editForm.operator_id = result.length > 0 ? result[0].id : null;

        result = filterIt(this.clientObject, this.editForm.client_id, "name");
        this.editForm.client_id = result.length > 0 ? result[0].id : null;

        result = filterIt(
          this.assistantObject,
          this.editForm.assistant_id,
          "name"
        );
        this.editForm.assistant_id = result.length > 0 ? result[0].id : null;

        result = filterIt(
          this.type_operationsObject,
          this.editForm.type_operations,
          "name"
        );

        this.editForm.type_operations = result.length > 0 ? result[0].id : null;

        console.log(this.editForm);

        this.api()
          .post("trade/" + this.dataEdit.id, this.editForm)
          .then(response => {
            this.loader = false;
            this.editForm.editDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getList();
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    openModalEdit(data) {
      this.editForm.editDialog = true;
      this.dataEdit = data;
      console.log(data);
      this.editForm.amount = data.amount;
      this.editForm.amount_btc = data.amount_btc;
      this.editForm.user_internal = data.account_id.username;
      this.editForm.user_external = data.user_local_id.username;
      this.editForm.type_operations =
        data.type_operation_id != null ? data.type_operation_id.name : null;
      this.editForm.assistant_id =
        data.assistant_id != null ? data.assistant_id.name : null;
      this.editForm.client_id =
        data.client_id != null ? data.client_id.name : null;
      this.editForm.operator_id =
        data.operator_id != null ? data.operator_id.name : null;
      this.editForm.bank_id = data.bank_id != null ? data.bank_id.name : null;
      this.editForm.price_usd_btc = data.price_usd_btc;
      this.editForm.concept = data.concept;
      this.editForm.is_matching = data.is_matching;
      this.editForm.contact_id = data.contact_id;
      this.editForm.fee_bank = data.bank_id.fee;
      this.editForm.bankReference = data.bank_reference_number;

      console.log(this.editForm);
    },
    openModalEditUser(data) {
      this.editUserForm.editDialog = true;
      this.editUserForm.id = data.id;
      this.editUserForm.username = data.username;
      this.editUserForm.email = data.email;
      this.editUserForm.phone = data.phone;
      this.editUserForm.volume = data.volume;
      this.editUserForm.country = data.country;
      this.editUserForm.numberTrades = data.numberTrades;
    },
    onEditUser() {
      if (this.$refs.formEditUser.validate()) {
        this.loader = true;

        this.api()
          .post("user_local/" + this.editUserForm.id, this.editUserForm)
          .then(response => {
            this.loader = false;
            this.editUserForm.editDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getList();
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    switchLabel(form) {
      return form.is_available == true ? "Active" : "Inactive";
    },
  },
  computed: {}
};
</script>
