<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xl12 lg12 md12 sm12 xs12">
          <v-data-table :headers="headers" :items="statuses" item-key="id">
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.code }}</td>
              <td class="text-center">
                <v-btn fab dark small icon color="primary" @click="openModalEdit(props.item)">
                  <v-icon class="zmdi zmdi-edit"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
          <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>

          <v-dialog v-model="editForm.dialog" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Edit status</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="formEdit" v-model="editForm.valid" lazy-validation>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12>
                        <v-text-field
                          label="Type name"
                          v-model="editForm.name"
                          :rules="typeRules"
                          append-icon="label"
                          counter
                          outline
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="editForm.dialog = false" small>Cancel</v-btn>
                <v-btn color="primary" @click="onEdit()" small>Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import { filterIt } from "Helpers/helpers";
import apiwithheader from "../../api/apiwithheader.js";

export default {
  mixins: [apiwithheader],
  data() {
    return {
      editForm: {
        dialog: false,
        valid: true,
        name: "",
        itemSelected: null
      },
      statuses: [],
      typeRules: [v => !!v || "Please, specify the name"],
      headers: [
        {
          text: "Name",
          sortable: false,
          value: "name"
        },
        {
          text: "Code",
          sortable: false,
          value: "code"
        },
        { text: "Actions", sortable: false, align: "center" }
      ],
      loader: true,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top"
    };
  },
  mounted() {
    this.getTablesData();
  },
  methods: {
    onEdit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true;

        console.log(this.editForm.name);

        this.api()
          .post("status/" + this.editForm.itemSelected.id, {
            name: this.editForm.name,
            _method: "put"
          })
          .then(response => {
            this.loader = false;
            this.editForm.dialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getTablesData();
          })
          .catch(error => {
            this.loader = false;
            console.log(error);
          });
      }
    },
    openModalEdit(itemSelected) {
      this.editForm.dialog = true;
      this.editForm.itemSelected = itemSelected;
      this.editForm.name = itemSelected.name;
    },
    getTablesData() {
      this.api()
        .get("status")
        .then(response => {
          this.loader = false;
          this.statuses = response.data;
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    }
  }
};
</script>
