<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xl12 lg12 md12 sm12 xs12">
          <v-card-title>
            <v-dialog v-model="addBankForm.dialog" persistent max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" medium dark v-on="on">
                  <i class="material-icons">add</i>
                  {{$t('message.addNew')}}
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Add bank</span>
                </v-card-title>
                <v-card-text>
                  <v-form ref="formSave" v-model="addBankForm.valid" lazy-validation>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12>
                          <v-text-field
                            label="Bank name"
                            v-model="addBankForm.bank"
                            :rules="bankNameRules"
                            append-icon="domain"
                            outline
                            counter
                            maxlength="20"
                            clearable
                            required
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <v-select
                            :items="currencies"
                            v-model="addBankForm.currency"
                            label="Currency"
                            append-icon="credit_card"
                            outline
                            :rules="currencyRules"
                            required
                          ></v-select>
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field
                            label="Fee percentage"
                            v-model="addBankForm.fee"
                            :rules="bankFeeRules"
                            append-icon="flag"
                            outline
                            placeholder="%"
                            clearable
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" @click="addBankForm.dialog = false" small>Cancel</v-btn>
                  <v-btn
                    color="primary"
                    @click="onSaveBank()"
                    :disabled="!addBankForm.valid"
                    :loading="loader"
                    small
                  >Add</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Seach"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>

          <v-data-table :headers="headers" :items="banks" :search="search">
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.currency_id.name }}</td>
              <td>{{ props.item.fee }}</td>
              <td class="text-center">
                <v-btn fab dark small icon color="primary" @click="openModalEdit(props.item)">
                  <v-icon class="zmdi zmdi-edit"></v-icon>
                </v-btn>
                <v-btn
                  fab
                  dark
                  small
                  icon
                  color="error"
                  @click="onDeleteBank(props.item)"
                  class="trash-icon"
                >
                  <v-icon class="zmdi zmdi-delete"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
          <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>

          <v-dialog v-model="editBankForm.dialog" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Edit bank</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="formEdit" v-model="editBankForm.valid" lazy-validation>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12>
                        <v-text-field
                          label="Bank name"
                          v-model="editBankForm.bank"
                          :rules="bankNameRules"
                          append-icon="domain"
                          outline
                          counter
                          maxlength="20"
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-select
                          v-model="editBankForm.currency"
                          :items="currencies"
                          label="Currency"
                          append-icon="credit_card"
                          outline
                          :rules="currencyRules"
                          required
                        ></v-select>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          label="Fee percentage"
                          v-model="editBankForm.fee"
                          append-icon="flag"
                          outline
                          placeholder="%"
                          :rules="bankFeeRules"
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="editBankForm.dialog = false" small>Cancel</v-btn>
                <v-btn color="primary" @click="onEdit()" small>Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Delete confirmation"
            message="Are you sure you want to delete this bank?"
            @onConfirm="deleteBank"
          ></delete-confirmation-dialog>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import { filterIt } from "Helpers/helpers";
import apiwithheader from "../../api/apiwithheader.js";

export default {
  mixins: [apiwithheader],
  data() {
    return {
      addBankForm: {
        valid: true,
        dialog: false,
        bank: "",
        currency: null,
        fee: null
      },
      editBankForm: {
        valid: true,
        dialog: false,
        bank: "",
        currency: null,
        selectedBank: null,
        fee: null
      },
      deleteBankForm: {
        selectedBank: null
      },
      banks: [],
      currencies: [],
      currencies_object: [],
      search: "",
      headers: [
        {
          text: "Name",
          sortable: true,
          value: "name"
        },
        {
          text: "Currency",
          sortable: false,
          value: "currency_id.name"
        },
        {
          text: "Fee percentage",
          sortable: false,
          value: "fee"
        },
        { text: "Actions", sortable: false, align: "center" }
      ],
      bankNameRules: [
        v => !!v || "Please, specify the bank name",
        v => (v && v.length <= 20) || "Name must be less than 20 characters",
      ],
      currencyRules: [v => !!v || "Please, select a currency"],
      bankFeeRules: [v => !!v || "Please, specificy the bank fee"],
      loader: true,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top"
    };
  },
  created() {
    this.getCurrency();
  },
  mounted() {
    this.getTablesData();
  },
  methods: {
    onSaveBank() {
      if (this.$refs.formSave.validate()) {
        this.loader = true;

        let result = filterIt(
          this.currencies_object,
          this.addBankForm.currency,
          "name"
        );
        let currencyId = result.length > 0 ? result[0].id : null;

        this.api()
          .post("bank", {
            name: this.addBankForm.bank,
            currency_id: currencyId,
            fee: this.addBankForm.fee
          })
          .then(response => {
            this.loader = false;
            this.addBankForm.dialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getTablesData();
            this.$refs.formSave.reset();
          })
          .catch(error => {
            this.loader = false;
            console.log(error);
          });
      }
    },
    onEdit() {
      if (this.$refs.formEdit.validate()) {
        this.loader = true;

        let result = filterIt(
          this.currencies_object,
          this.editBankForm.currency,
          "name"
        );
        let currencyId = result.length > 0 ? result[0].id : null;

        this.api()
          .post("bank/" + this.editBankForm.selectedBank.id, {
            name: this.editBankForm.bank,
            currency_id: currencyId,
            fee: this.editBankForm.fee,
            _method: "put"
          })
          .then(response => {
            this.loader = false;
            this.editBankForm.dialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getTablesData();
          })
          .catch(error => {
            this.loader = false;
            console.log(error);
          });
      }
    },
    openModalEdit(selectedBank) {
      this.editBankForm.dialog = true;
      this.editBankForm.selectedBank = selectedBank;
      this.editBankForm.bank = selectedBank.name;
      this.editBankForm.fee = selectedBank.fee;

      let result = filterIt(
        this.currencies_object,
        selectedBank.currency_id.name,
        "name"
      );

      let currencyName = result.length > 0 ? result[0].name : null;

      this.editBankForm.currency = currencyName;
    },
    onDeleteBank(selectedBank) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.deleteBankForm.selectedBank = selectedBank;
    },
    deleteBank() {
      this.loader = true;
      let deletedBank = this.banks;
      let index = deletedBank.indexOf(this.deleteBankForm.selectedBank);
      this.$refs.deleteConfirmationDialog.close();

      this.api()
        .delete("bank/" + this.deleteBankForm.selectedBank.id)
        .then(response => {
          setTimeout(() => {
            this.banks.splice(index, 1);
            this.snackbarMessage = response.data.message;
            this.loader = false;
            this.snackbar = true;
            this.deleteBankForm.selectedBank = null;
          }, 500);
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    getTablesData() {
      this.api()
        .get("bank")
        .then(response => {
          this.loader = false;
          this.banks = response.data;
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    getCurrency() {
      this.api()
        .get("currencies")
        .then(response => {
          this.currencies_object = response.data;
          response.data.forEach(element => {
            this.currencies.push(element.name);
          });
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    }
  }
};
</script>
