<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-snackbar
      :top="position === 'top'"
      :timeout="timeout"
      v-model="snackbar"
    >{{ snackbarMessage }}</v-snackbar>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xl12 lg12 md12 sm12 xs12" v-if="isLoaded">
          <v-form ref="formEdit" v-model="form.valid" lazy-validation>
            <v-data-table :items="permissions" :headers="headers" hide-actions>
              <template v-slot:items="props">
                <td>{{ props.item.name }}</td>
                <td v-for="(role, index) in roles" v-bind:key="role.id" class="text-xs-center">
                  <v-checkbox
                    v-model="checkboxes[index + props.index * roles.length].isChecked"
                    @change="isChecked(role.id, props.item.id, checkboxes[index + props.index * roles.length].isChecked)"
                    color="primary"
                    hide-details
                  ></v-checkbox>
                </td>
              </template>
            </v-data-table>
          </v-form>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import { filterIt } from "Helpers/helpers";
import apiwithheader from "../../api/apiwithheader.js";

export default {
  mixins: [apiwithheader],
  data() {
    return {
      headers: [
        { text: "Actions", sortable: false, align: "center" }
      ],
      roles: [],
      permissions: [],
      checkboxes: [],
      form: {
        valid: false
      },
      loader: false,
      position: "top",
      timeout: 3000,
      snackbar: false,
      snackbarMessage: "",
      isLoaded: false
    };
  },
  mounted() {
    this.loader = true;
    this.createCheckboxes();
    this.loader = false;
    //console.log(this.checkboxes);
  },
  methods: {
    isChecked(roleId, permissionId, selected) {
      //console.log(roleId, permissionId, selected.isChecked, selected);
      //console.log(this.checkboxes[0]);
      this.loader = true;

      let url = selected ? "assign_permission" : "delete_permission";

      this.api()
        .post(url, {
          role_id: roleId,
          permission_id: permissionId
        })
        .then(response => {
          this.loader = false;
          this.snackbar = true;
          this.snackbarMessage = response.data.message;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getRoles() {
      return Promise.resolve(
        this.api()
          .get("role")
          .then(response => {
            response.data.map(element => {
              this.headers.push({ text: element.name, sortable: false });
              this.roles.push({
                id: element.id,
                name: element.name,
                permission: element.permission
              });
            });
          })
          .catch(error => {
            console.log(error);
          })
      );
    },
    getPermissions() {
      return Promise.resolve(
        this.api()
          .get("permission")
          .then(response => {
            response.data.map(element => {
              let permission = {
                id: element.id,
                name: element.name
              };
              this.permissions.push(permission);
            });
          })
          .catch(error => {
            console.log(error);
          })
      );
    },
    async createCheckboxes() {
      await this.getPermissions();
      await this.getRoles();

      this.permissions.map(permission => {
        this.roles.map(role => {
          this.checkboxes.push({
            permissionId: permission.id,
            roleId: role.id,
            isChecked:this.findPermission(role.id, permission.id)
          });
        });
      });

      this.isLoaded = true;
    },

    findPermission(roleId, permissionId) {
      let isfound = false;
      this.roles.forEach(element => {
        if(element.id == roleId){
          let permission = element.permission;
            permission.forEach(per => {
              if( per.id == permissionId){
                isfound = true;
              }
            });
        }
      });
      return isfound;
    }
  }
};
</script>

<style>
</style>
