<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xs12">
          <v-card-title>
            <v-dialog v-model="addForm.addDialog" persistent max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" medium dark v-on="on">
                  <i class="material-icons">add</i>
                  Upload File
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Trade conciliation</span>
                </v-card-title>
                <v-card-text>
                  <v-form v-model="addForm.valid" ref="formSave" lazy-validation>
                    <v-container grid-list-md pt-0>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-autocomplete
                            v-model="bankReference"
                            :rules="select"
                            :items="banksList"
                            label="Bank"
                            placeholder="Select a bank"
                            append-icon="domain"
                            outline
                            required
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field
                            label="Click here to upload the file"
                            @click="pickFile"
                            :rules="addForm.imageRules"
                            v-model="fileText"
                            append-icon="attach_file"
                            outline
                          ></v-text-field>
                          <input type="file" v-show="false" ref="file" @change="onFilePicked">
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" @click="addForm.addDialog = false" small>Cancel</v-btn>
                  <v-btn color="primary" :disabled="!addForm.valid" @click="submit()" small>Add</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-spacer></v-spacer>

            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>

          <v-data-table :headers="headers" :pagination="pagination" :items="list" :search="search">
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>
                <div v-if=" props.item.contact_id">{{ props.item.contact_id }}</div>
              </td>
              <td>
                <div v-if=" props.item.bank_reference_number">{{ props.item.bank_reference_number }}</div>
              </td>
              <td>
                <div v-if=" props.item.bank_id">{{ props.item.bank_id.name }}</div>
              </td>
              <td>{{ props.item.amount }}</td>
              <td>{{ props.item.amount_btc }}</td>
              <td>
                <div v-if=" props.item.status_id !=null ">{{ props.item.status_id.name }}</div>
              </td>
              <td>
                <v-chip
                  color="success"
                  text-color="white"
                  v-show="props.item.is_matching == true"
                >Yes</v-chip>
                <v-chip
                  color="error"
                  text-color="white"
                  v-show="props.item.is_matching != true"
                >No</v-chip>
              </td>
              <td>{{ FormatDate(props.item.created_at) }}</td>
            </template>
          </v-data-table>
          <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>

        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import apiwithheader from "../../api/apiwithheader.js";
import moment from "moment";
import { filterIt } from "Helpers/helpers";
export default {
  mixins: [apiwithheader],
  data() {
    return {
      references: [],
      fileText: null,
      file: null,
      banksList: [],
      banksObject: [],
      bankReference: null,
      select: [v => !!v || "Required."],
      addForm: {
        valid: true,
        amount: "",
        image: "",
        bank_id: null,
        is_available: "",
        addDialog: false,
        imageRules: [v => !!v || "Please, upload file txt"],
        bankRules: [v => !!v || "Please, specify the bank name"]
      },
      search: "",
      headers: [
        { text: "Contact id", sortable: true, value: "contact_id" },
        { text: "Ref", sortable: true, value: "bank_reference_number" },
        { text: "Bank", sortable: true, value: "bank_id.name" },
        { text: "Bs amount", sortable: true, value: "amount" },
        { text: "Btc amount", sortable: true, value: "amount_btc" },
        { text: "Status", sortable: true, value: "status_id.name" },
        { text: "Matching", sortable: true, value: "is_matching" },
        { text: "Date", sortable: true, value: "created_at" }
      ],
      list: [],
      pagination: {
        descending: true,
        page: 1,
        rowsPerPage: 10,
        sortBy: "created_at",
        totalItems: 0
      },
      loader: false,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top"
    };
  },
  mounted() {
    this.getList();
    this.getBanks();
  },
  methods: {
    getBanks() {
      this.api()
        .get("bank")
        .then(response => {
          this.loader = false;
          this.banksObject = response.data;
          response.data.forEach(element => {
            this.banksList.push(element.name);
          });
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    submit() {
      if (this.$refs.formSave.validate()) {
        this.loader = true;
        console.log(this.bankReference);

        if(this.bankReference == "Banesco") {
          this.readFromBanesco(this.reader, this.file);
        }
        if(this.bankReference == "Mercantil") {
          this.readFromMercantil(this.reader, this.file);
        }
        this.reader= null;
        this.file = null;
        /*this.addForm.bank_id = result.length > 0 ? result[0].id : null;

        let formData = new FormData();

        formData.append("amount", this.addForm.amount);
        formData.append("bank_id", this.addForm.bank_id);
        formData.append("image", this.imageFile);

        console.log(formData);

        this.api(true)
          .post("payment", formData)
          .then(response => {
            this.loader = false;
            this.addForm.addDialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.getList();
            this.$refs.formSave.reset();
          })
          .catch(error => {
            console.log(error);
          });*/
      }
    },
    FormatDate(date) {
      return moment(date).format("DD-MM-YYYY hh:mm A");
    },
    getList() {
      this.loader = true;
      this.api()
        .get("trade")
        .then(response => {
          this.loader = false;
          this.list = response.data;
        })
        .catch(error => {
          this.loader = false;
          console.log(error);
        });
    },
    switchLabel(form) {
      return form.is_available == true ? "Active" : "Inactive";
    },
    pickFile() {
      this.$refs.file.click();
    },
    onFilePicked(e) {
      // const files = e.target.files;
      const file = e.target.files[0];
      const reader = new FileReader();
      reader.addEventListener("load", () => {
        //this.readFromBanesco(reader, file);
        this.fileText = file.name;
        this.file = file;
        this.reader = reader;
      });
      reader.onload = e => this.$emit("load", e.target.result);
      reader.readAsText(file);
    },
    readFromBanesco(reader, file) {
      this.references = [];
      var lineas = reader.result.split("\n");
      for (var linea of lineas) {
        if (linea != "") {
          let explode_lineas = linea.split(" ");
          var number_reference = parseInt(explode_lineas[1]);
          var word2 = String(explode_lineas[2]);
          var word3 = String(explode_lineas[3]);
          if (
            explode_lineas.length > 3 &&
            Number.isInteger(number_reference) &&
            (word2 == "TRANS.CTAS" || word3 == "TRANSFER/OTROS")
          ) {
            this.fileText = file.name;
            this.file = file;
            explode_lineas = linea.split("-");
            if (explode_lineas.length > 1) {
              explode_lineas = explode_lineas[1].split(" ");
              var amount_str = explode_lineas[0].replace(".", "");
              amount_str = amount_str.replace(",", ".");
              var amount = parseFloat(amount_str);
              this.references.push({
                reference: number_reference,
                amount: amount
              });
            }
          }
        }
      }

      this.list.forEach(trade => {
        this.references.forEach(ref => {
          if (
            trade.bank_reference_number == ref.reference &&
            trade.amount == ref.amount
          ) {
            if(trade.is_matching != 1){
              this.api(true)
              .get("set_matching/"+trade.id+"/"+1)
              .then(response => {
                this.getList();
              })
              .catch(error => {
                console.log(error);
              });
            }
          }
        });
      });

      this.loader = false;
      this.addForm.addDialog = false;
      this.$refs.formSave.reset();
    },
    readFromMercantil(reader, file, isNatural = false){
      this.references = [];
      var lineas = reader.result.split("\n");

      if(isNatural){
        for (var linea of lineas) {
          if (linea != "") {
            let explode_lineas = linea.split("ND - PAGO A TERCEROS VIA INTERNET");

            if(explode_lineas.length > 1){

                var number_reference = parseInt(explode_lineas[1]);
                if (                
                  Number.isInteger(number_reference)
                ) {
                  this.fileText = file.name;
                  this.file = file;
                  explode_lineas = linea.split("-");
                  if (explode_lineas.length > 1) {
                    //explode_lineas = explode_lineas[1].split(" ");
                  /* var amount_str = explode_lineas[2].replace(".", "");
                    amount_str = amount_str.replace(",", ".");*/
                    var amount = parseFloat(explode_lineas[2]);
                    this.references.push({
                      reference: number_reference,
                      amount: amount
                    });
                  }
                }
            }
          }
        }
      }
      else{
        debugger;
        for (var linea of lineas) {
          if (linea != "") {
            var explode_lineas = linea.split("ND PAGO A PROVEEDORES EN LINEA");
            if(explode_lineas.length > 1){
                let explode_lineas_2 = explode_lineas[0].split(" ");
                var number_reference = parseInt(explode_lineas_2[8]);
                if (                
                  Number.isInteger(number_reference)
                ) {
                  this.fileText = file.name;
                  this.file = file;
                    //explode_lineas = explode_lineas[1].split(" ");
                    var explode_lineas_3= explode_lineas[1].split(" ");
                    if(explode_lineas_3.length > 1){
                      var amount_str = explode_lineas_3[3].replace(".", "");
                      amount_str = amount_str.replace(",", ".");
                      var amount = parseFloat(amount_str);
                      this.references.push({
                        reference: number_reference,
                        amount: amount
                      });
                    } 
                  }
            }
          }
        }
      }

      this.list.forEach(trade => {
        this.references.forEach(ref => {
          if (
            trade.bank_reference_number == ref.reference &&
            trade.amount == ref.amount
          ) {
            if(trade.is_matching != 1){
              this.api(true)
              .get("set_matching/"+trade.id+"/"+1)
              .then(response => {
                this.getList();
              })
              .catch(error => {
                console.log(error);
              });
            }
          }
        });
      });

      this.loader = false;
      this.addForm.addDialog = false;
      this.$refs.formSave.reset();
    }
  },
  computed: {}
};
</script>
