<template>
  <div>
    <page-title-bar></page-title-bar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-container fluid grid-list-xl pt-0>
      <v-layout row wrap>
        <app-card :fullBlock="true" colClasses="xs12">
          <v-card-title>
            <v-dialog v-model="addUserForm.dialog" persistent max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" medium dark v-on="on">
                  <i class="material-icons">add</i>
                  {{$t('message.addNew')}}
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">New user</span>
                </v-card-title>
                <v-card-text>
                  <v-form v-model="addUserForm.valid" ref="addUserForm">
                    <v-container grid-list-md pt-0>
                      <v-layout row wrap>
                        <v-flex xs12 md6>
                          <v-text-field
                            v-model="addUserForm.name"
                            :rules="nameRules"
                            label="Name"
                            append-icon="perm_identity"
                            outline
                            counter
                            maxlength="20"
                            clearable
                            required
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field
                            v-model="addUserForm.lastName"
                            :rules="nameRules"
                            label="Last Name"
                            append-icon="perm_identity"
                            outline
                            counter
                            maxlength="20"
                            clearable
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>

                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-text-field
                            v-model="addUserForm.username_rocketchat"
                            :rules="usernameRules"
                            label="RocketChat username"
                            append-icon="perm_identity"
                            counter
                            maxlength="15"
                            outline
                            clearable
                            required
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <v-autocomplete
                            v-model="addUserForm.roleName"
                            :rules="rolesRules"
                            :items="rolesList"
                            label="Role"
                            placeholder="Select a role"
                            append-icon="person"
                            outline
                            required
                          ></v-autocomplete>
                        </v-flex>
                      </v-layout>

                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            v-model="addUserForm.email"
                            :rules="emailRules"
                            type="Email"
                            label="Email"
                            append-icon="email"
                            outline
                            clearable
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>

                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            v-model="addUserForm.password"
                            :append-icon="addUserForm.showIconPassword ? 'visibility' : 'visibility_off'"
                            :type="addUserForm.showIconPassword ? 'text' : 'password'"
                            :rules="passwordRules"
                            label="Password"
                            placeholder="Password155."
                            outline
                            counter
                            required
                            @click:append="addUserForm.showIconPassword = !addUserForm.showIconPassword"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>

                      <v-layout row>
                        <v-flex xs12>
                          <v-text-field
                            v-model="addUserForm.confirmPassword"
                            :error-messages="passwordMatchError"
                            :append-icon="addUserForm.showIconConfirmPassword ? 'visibility' : 'visibility_off'"
                            :rules="passwordRules"
                            :type="addUserForm.showIconConfirmPassword ? 'text' : 'password'"
                            label="Confirm Password"
                            placeholder="Password155."
                            outline
                            required
                            counter
                            @click:append="addUserForm.showIconConfirmPassword = !addUserForm.showIconConfirmPassword"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" @click="addUserForm.dialog = false;" small>Cancel</v-btn>
                  <v-btn
                    color="primary"
                    :disabled="!addUserForm.valid"
                    @click="onAddUser()"
                    small
                  >Add</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-spacer></v-spacer>

            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>

          <v-data-table :headers="headers" :items="usersList" :search="search">
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom>
                <span slot="activator">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.last_name }}</td>
              <td>{{ props.item.email }}</td>
              <td>{{ props.item.roles[0].name || "No roles are available" }}</td>
              <td class="text-center">
                <v-btn fab dark small icon color="primary" @click="openModalEdit(props.item)">
                  <v-icon class="zmdi zmdi-edit"></v-icon>
                </v-btn>
                <v-btn
                  fab
                  dark
                  small
                  icon
                  color="error"
                  @click="onDelete(props.item)"
                  class="trash-icon"
                >
                  <v-icon class="zmdi zmdi-delete"></v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>

          <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>

          <v-dialog v-model="editUserForm.dialog" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Edit user</span>
              </v-card-title>
              <v-card-text>
                <v-form v-model="editUserForm.valid" ref="editUserForm">
                  <v-container grid-list-md pt-0>
                    <v-layout row wrap>
                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editUserForm.name"
                          :rules="nameRules"
                          label="Name"
                          append-icon="perm_identity"
                          outline
                          counter
                          maxlength="20"
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 md6>
                        <v-text-field
                          v-model="editUserForm.last_name"
                          :rules="nameRules"
                          label="Last Name"
                          append-icon="perm_identity"
                          outline
                          counter
                          maxlength="20"
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field
                          v-model="editUserForm.username_rocketchat"
                          :rules="usernameRules"
                          label="RocketChat username"
                          append-icon="perm_identity"
                          counter
                          maxlength="15"
                          outline
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-autocomplete
                          v-model="editUserForm.role_id"
                          :rules="rolesRules"
                          :items="rolesList"
                          label="Role"
                          outline
                          placeholder="Select a role"
                          append-icon="person"
                          required
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>

                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          v-model="editUserForm.email"
                          :rules="emailRules"
                          outline
                          type="Email"
                          label="Email"
                          append-icon="email"
                          clearable
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          v-model="editUserForm.password"
                          :append-icon="editUserForm.showIconPassword ? 'visibility' : 'visibility_off'"
                          :type="editUserForm.showIconPassword ? 'text' : 'password'"
                          label="Password"
                          outline
                          clearable
                          counter
                          disabled
                          @click:append="editUserForm.showIconPassword = !editUserForm.showIconPassword"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row>
                      <v-flex xs12>
                        <v-text-field
                          v-model="editUserForm.confirmPassword"
                          :error-messages="passwordMatchError"
                          :append-icon="editUserForm.showIconConfirmPassword ? 'visibility' : 'visibility_off'"
                          :type="editUserForm.showIconConfirmPassword ? 'text' : 'password'"
                          label="Confirm Password"
                          outline
                          clearable
                          counter
                          disabled
                          @click:append="editUserForm.showIconConfirmPassword = !editUserForm.showIconConfirmPassword"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="editUserForm.dialog = false" small>Cancel</v-btn>
                <v-btn color="primary" @click="onEdit()" small>Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Delete confirmation"
            message="Are you sure you want to delete this user?"
            @onConfirm="deleteData"
          ></delete-confirmation-dialog>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "Api";
import { filterIt } from "Helpers/helpers";
import apiwithheader from "../../api/apiwithheader.js";

export default {
  mixins: [apiwithheader],
  data() {
    return {
      nameRules: [
        v => !!v || "Please, specify the name",
        v =>
          (v && v.length <= 20) ||
          "This field name must be less than 20 characters",
        v => {
          const pattern = /^[a-zA-Z ]*$/;
          return pattern.test(v) || "Invalid name";
        }
      ],
      usernameRules: [
        v => !!v || "Please, specify the username",
        v => {
          const pattern = /^(?=.{5,15}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/;
          return pattern.test(v) || "Invalid username.";
        }
      ],
      passwordRules: [
        v => !!v || "Please, enter the password",
        v => {
          const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/;
          return pattern.test(v) || "An uppercase, lowercase letter and a number is required";
        }
      ],
      editPasswordRules: [v => (v && v.length >= 8) || "Min 8 characters"],
      rolesRules: [v => !!v || "Please, select a role"],
      emailRules: [
        v => !!v || "Please, enter the email",
        v => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(v) || "Please, type a valid e-mail.";
        }
      ],
      addUserForm: {
        username_rocketchat: null,
        valid: false,
        dialog: false,
        name: "",
        lastName: "",
        email: "",
        roleName: "",
        password: "",
        confirmPassword: "",
        selectedRole: null,
        showIconPassword: false,
        showIconConfirmPassword: false
      },

      editUserForm: {
        username_rocketchat: null,
        valid: false,
        dialog: false,
        name: "",
        last_name: "",
        email: "",
        role_id: "",
        password: "",
        confirmPassword: "",
        selectedRole: null,
        showIconPassword: false,
        showIconConfirmPassword: false,
        _method: "put"
      },
      search: "",
      headers: [
        { text: "Name", sortable: true, value: "name" },
        { text: "Lastname", sortable: true, value: "last_name" },
        { text: "Email", sortable: true, value: "email" },
        { text: "Role", sortable: true, value: "roles[0].name" },
        { text: "Actions", sortable: false, align: "center" }
      ],
      usersList: [],
      rolesList: [],
      rolesObject: {},
      loader: false,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      selected: null,
      selectedUserEdit: null,
      y: "top"
    };
  },
  created() {
    this.loader = true;
    this.getUsers();
    this.getRoles();
    this.loader = false;
  },
  methods: {
    getUsers() {
      this.api()
        .get("user")
        .then(response => {
          this.usersList = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getRoles() {
      this.api()
        .get("role")
        .then(response => {
          this.rolesObject = response.data;
          response.data.forEach(element => {
            this.rolesList.push(element.name);
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    onAddUser() {
      if (this.$refs.addUserForm.validate()) {
        this.loader = true;
        let result = filterIt(
          this.rolesObject,
          this.addUserForm.roleName,
          "name"
        );

        let roleId = result.length > 0 ? result[0].id : null;

        this.api()
          .post("user", {
            name: this.addUserForm.name,
            last_name: this.addUserForm.lastName,
            email: this.addUserForm.email,
            password: this.addUserForm.password,
            role_id: roleId,
            username_rocketchat: this.addUserForm.username_rocketchat
          })
          .then(response => {
            this.loader = false;
            this.addUserForm.dialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;

            this.$refs.addUserForm.reset();
            this.getUsers();
          })
          .catch(error => {
            this.snackbarMessage = error.response.data.message[0];
            this.snackbar = true;
          });
      }
    },
    onDelete(selectedUser) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selected = selectedUser;
    },
    deleteData() {
      this.loader = true;
      this.$refs.deleteConfirmationDialog.close();
      let index = this.usersList.indexOf(this.selected);

      this.api()
        .delete("user/" + this.selected.id)
        .then(response => {
          setTimeout(() => {
            this.loader = false;
            this.selected = null;
            this.usersList.splice(index, 1);
            this.snackbar = true;
            this.snackbarMessage = response.data.message;
            this.getUsers();
          }, 500);
        })
        .catch(error => {
          console.log(error);
        });
    },
    onEdit() {
      if (this.$refs.editUserForm.validate()) {
        this.loader = true;
        this.api()
          .post("user/" + this.selectedUserEdit.id, this.editUserForm)
          .then(response => {
            this.loader = false;
            this.editUserForm.dialog = false;
            this.snackbar = true;
            this.snackbarMessage = response.data.message;
            this.getUsers();
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    openModalEdit(selectedUser) {
      this.editUserForm.dialog = true;
      this.selectedUserEdit = selectedUser;
      this.editUserForm.name = selectedUser.name;
      this.editUserForm.last_name = selectedUser.last_name;
      this.editUserForm.email = selectedUser.email;
      this.editUserForm.username_rocketchat = selectedUser.username_rocketchat;
      this.editUserForm.role_id =
        selectedUser.roles[0].name || "No roles available";
    }
  },

  computed: {
    passwordMatchError() {
      return this.addUserForm.password === this.addUserForm.confirmPassword
        ? ""
        : "Password must match";
    }
  }
};
</script>
